<!DOCTYPE html>
<html lang="ko"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/sample_layout}">

<th:block layout:fragment="script">
	<script th:inline="javascript">
		console.log("index.html");
	</script>
</th:block>

<th:block layout:fragment="css">
	<style th:inline="css">
		header>h1 {
			width: 100%;
			height: 30px;
			text-align: center;
			font-weight: 800;
			color: black;
		}
	</style>
</th:block>

<th:block layout:fragment="content">
	<h1 th:text="|Thymeleaf 연동 성공|"></h1>
	<form th:action="@{/sec/pki/EgovCryptoInfo.do}">
		<input type="hidden" name="plainText" value="egovframe">
		<input type="submit" id="encryptTestBtn" value="CRYPTO Test: Encrypt 'egovframe'">
	</form>
</th:block>

</html>